@page
@model KoiOrderingSystemInJapan.WebApplication.Pages.BlogModel
@{
}

<section class="blog spad" style="margin-top: -230px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Thể Loại</h4>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Trang Trại</a></li>
                            <li><a href="#">Giống Cá</a></li>
                            <li><a href="#">Mức Giá</a></li>
                            <li><a href="#">Thời Gian</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog7.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2020</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Okayama Momotaro Koi Farm</a></h5>
                                <p>
                                    Trang trại cá Koi nổi tiếng nhất Nhật Bản được biết đến với những chú cá Koi chất lượng cao và đẹp hoàn mỹ.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog8.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 8,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Otsuka Koi Farm</a></h5>
                                <p>
                                    Trang trại cá Koi nổi tiếng tại Nhật Bản được biết đến với sự sáng tạo và chất lượng vượt trội trong việc nuôi dưỡng các giống cá Koi độc đáo.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog9.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 10,2021</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Fukasawa Koi Farm</a></h5>
                                <p>
                                    Trang trại này được đánh giá cao nhờ quy trình nuôi trồng chuyên nghiệp, tận dụng nguồn tài nguyên tự nhiên để tạo ra môi trường sống lý tưởng.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog10.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 16,2020</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Marudo Koi Farm</a></h5>
                                <p>
                                    Trang trại này chuyên nuôi trồng các giống cá Koi như Kohaku, Sanke và Showa với kích thước lớn và chất lượng cao.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog11.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 19,2022</li>
                                    <li><i class="fa fa-comment-o"></i> 10</li>
                                </ul>
                                <h5><a href="#">Oyaji Koi Farm</a></h5>
                                <p>
                                    Trang trại này nổi tiếng với việc nuôi dưỡng các giống cá Koi chất lượng cao như Kohaku, Taisho Sanshoku, Showa Sanshoku và đặc biệt là Gin Matsuba.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog12.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 23,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Mano Koi Farm</a></h5>
                                <p>
                                    Trang trại này chuyên nuôi dưỡng các giống cá Koi chất lượng cao như Kohaku, Shusui, Kin Showa và Matsuba Ogon.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>